# Ignore from local build
settings.ini
Gemfile.lock
images/copied_from_nb/
_posts/2022-08-22-first-notebook.md
_posts/2022-08-22-first-post.md
_posts/2022-08-24-first-doc.md
_posts/2022-08-24-first-quiz.md
_posts/2022-08-25-Jupyter-Checks.md
_posts/2022-08-29-TP120-python_lists-copy.md
_posts/2022-09-06-AP-boolean_ifs.md
_posts/2022-09-12-TT-js_tutorial.md
_posts/2022-09-21-TT-rapidapi.md
_posts/2022-10-28-problems-and-solutions.md
_posts/2022-11-09-collegeboard-final-corrections.md
_posts/2022-11-09-night@museum.md
_posts/2022-11-10-countdown-timer.md